<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spotify Voice Controls</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="login_wrapper">
    <div class="login_box">
        <h1>Log in to control Spotify with your voice!</h1>
        <span class="emphasize"><p>DISCLAIMER: ONLY WORKS WITH PREMIUM SUBSCRIPTION</p></span>
        <button onclick="window.location.href='/login'">Log in</button>
    </div>


</div>
</body>
</html>